/* style={{ width: "18rem", height: "18rem" }} */
/* TOP RIGHT BOTTOM LEFT */

/* Home.js */
.jumbcard {
  background-color: #0066b2;
  margin-top: 1%;
  padding: 1% 5%;
}
.jumbotron{
  border-radius: 25px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 
  0 8px 22px 0 rgba(0, 0, 0, 0.19);
  margin: 0% 3%;
}
.cardg{
  border-radius: 25px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 
  0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.cardi {
  background-color: #0066b2;
}
/* Home.js */

/*Information.js */
.cardb {
  margin: 1% 3%;
}
.acc {
  margin: 2% 3%;
  background-color: #0066b2;
}